*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golory';
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(143, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 550px;
    width: 350px;
    background-color: rgb(65, 65, 65);
    border-radius: 20px;
    border: 5px solid rgb(250, 250, 250);
    position: relative;
}

#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid gray ;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden ;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
    display: inline-block;
   margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#fullscreen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    border-radius: 17px;
}